.login {
    margin-bottom: 90px;
}
.login__info {
}
.info__title {
}
.info__desc {
}
.login__inputs {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
input, textarea {
    border-radius: 4px;
    @include text ($font, 400, 14px, 17px, $color-white);
    padding: 14px 14px 16px;
    max-width: 1140px;
    width: 100%;
    border: 1px solid $color-grey;
    background: $color-black;
    outline: none;

}
.name {

}
.email {
}
.message {
    width: 100%;
}
textarea {
    resize: vertical;
    min-height: 60px;
    margin-bottom: 24px;
}

.login__btn {
    border-radius: 5px;
    background: $color-primary;
    padding: 13px 13px;
    text-decoration: none;
    @include text ($font, 500, 16px, 19px, $color-white);
    transition: .3s ease-in-out;
    border: 1px solid #ed9b0200;
    
    
    &:hover {
        background: $color-grey;
        border: 1px solid $color-primary;
        color: $color-white;

    }
}